<div class="container" id="title">
  <div class="row">
    <div class="col-lg-12" id="projectName">
      <h1>Project 2</h1>
    </div>
  </div>
</div>

<div class="login-box">
  <div class="textbox">
    <i class="fas fa-user" aria-hidden="true"></i>
    <input type="text" id="username" placeholder="Username" name="" value="">
  </div>
  <div class="textbox">
    <i class="fas fa-lock" aria-hidden="true"></i>
    <input type="password" id="password" placeholder="Password" name="" value="">
  </div>
  <div class="checkbox">
    <label><input type="checkbox" value="No" id="remember-me"> Remember me</label>
  </div>
  <input class="btn" type="submit" name="" id="submit-button" value="Sign In">

  <p><a href="/createAccount">Create Account</a></p>

  {{#if data}}
  <div id="welcome-back-box">
    Welcome back {{data.fullName}}! <a href="/profile">Click here</a> to view your profile.
  </div>
  {{/if}}

</div>

<!-- Modal -->
<div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title">Oops!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body">
        <!-- Intentionally left blank -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- JAVASCRIPT -->
<script src="js/index.js"></script>