<div class="jumbotron jumbotron-fluid" style="height: 180px; padding-top: 30px">
    <div class="container" style="text-align: center">
        <h1 class="display-4">Project 2</h1>
        <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa ab.</p>
    </div>
</div>

<div class="card" style="width: 65%; margin: auto; margin-bottom: 50px;">

    <div class="card-header">
        <h2>John Doe</h2>
    </div>
    <div class="card-body">
        <h5 class="card-title">Calories Remaining</h5>
        <h6 class="card-text">4,200</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo dignissimos quod, dicta corporis accusamu</p>
    </div>
    <hr>

    <div class="card">
        <div class="card-header">
            Nutrition Breakdown
        </div>
        <div class="card-body">
            <p>calories:<span>{{ }}</span></p>
            <p>protein:<span>{{ }}</span></p>
            <p>carbohydrates:<span>{{ }}</span></p>
            <p>fats:<span>{{ }}</span></p>
            <p>total meal count:<span>{{ }}</span></p>
        </div>
    </div>

</div>