body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("../img/landing.jpg") no-repeat;
  background-size: cover;
} 
.login-box {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
}
.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 2px solid #4caf50;
}
.textbox input {
  border: none;
  outline: none;
  background: none;
  color: #000000;
  font-size: 18px;
  width: 80%;
  margin: 10px;
}
.textbox ::placeholder {
  color: #000000;
}
.textbox i {
  width: 26px;
  text-align: center;
}
.checkbox {
  margin: 20px 0 0 0;
}
.btn {
  width: 100%;
  background: none;
  border: 2px solid #4caf50;
  color: #000000;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px 0;
}
#title h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  width: 100%;
  overflow: visible;
  font: 400 120px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #ffffff;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.1), 14px 14px 0px rgba(0,0,0,0.05);
  text-align: center;
  margin: 75px 0 50px 0;
}
