/* Landing Page */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("../img/landing.jpg") no-repeat;
  background-size: cover;
}
.login-box {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
}
.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 2px solid #4caf50;
}
.textbox input {
  border: none;
  outline: none;
  background: none;
  color: #000000;
  font-size: 18px;
  width: 80%;
  margin: 10px;
}
.textbox ::placeholder {
  color: #000000;
}
.textbox i {
  width: 26px;
  text-align: center;
}
.checkbox {
  margin: 15px 0 0 23px;
}
.btn {
  width: 100%;
  background: none;
  border: 2px solid #4caf50;
  color: #000000;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px 0;
}
.newAccount {
  margin: 5px;
  font-size: 0.9rem;
}
.newAccount a {
  color: #4caf50;
}
.newAccount a:hover {
  color: #000000;
}
#title h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  width: 100%;
  overflow: visible;
  font: 400 120px/1.5 "Pacifico", Helvetica, sans-serif;
  color: #ffffff;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.1), 14px 14px 0px rgba(0, 0, 0, 0.05);
  text-align: center;
  margin: 75px 0 50px 0;
}
/* Create an Account */
#regForm {
  border: none;
  outline: none;
  background: none;
  margin: 100px auto;
  padding: 40px;
  width: 60%;
  min-width: 300px;
  font-size: 18px;
}
#progress {
  margin-bottom: 40px;
}
.form-info {
  text-align: center;
}
.tab p {
  margin: 30px 0;
  width: 100%;
  outline: none;
}
.tab input {
  border: none;
  outline: none;
  background: none;
  color: #000000;
  font-size: 18px;
  width: 100%;
  padding-left: 12px;
  border-bottom: 2px solid #4caf50;
}
.tab input:focus {
  background: none;
  outline: none;
}
.form-control {
  background-color: transparent;
  border: 2px solid #4caf50;
  color: #000000;
}
.form-control:focus {
  box-shadow: none;
  border-color: #4caf50;
  background-color: transparent;
}
.tab input::placeholder {
  padding-left: 0px;
  color: #000000;
}
input.invalid {
  background-color: #ffdddd;
  border-radius: 25px;
}
.tab {
  display: none;
}
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.8;
}
.step.active {
  opacity: 1;
}
.step.finish {
  background-color: #4caf50;
}
#prevBtn {
  background: none;
  border: 2px solid #4caf50;
  color: #000000;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px 0;
}
#prevBtn:focus {
  outline: none;
}
#nextBtn {
  background: none;
  border: 2px solid #4caf50;
  color: #000000;
  padding: 5px 15px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px 0;
}
#nextBtn:focus {
  outline: none;
}
.login {
  margin: 5px;
  font-size: 0.9rem;
}
.login a {
  color: #4caf50;
}
.login a:hover {
  color: #000000;
}
/* Profile Page */
.circle {
  border: 4px solid #a38c94;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 10px 15px;
  position: relative;
  text-align: center;
}
.circle-text {
  position: absolute;
  top: 35%;
  left: 20%;
  margin: auto;
  font-size: 25px;
  line-height: 1.6;
}
.card.summary {
  border: none;
}

#profile-summary, 
#profile-search{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropdown {
  display: inline-block;
  /* position: absolute; */
  overflow: hidden;
  height: 45px;
  width: 200px;
  background: #eaeae7;
  border: 1px solid;
  border-color: white #f7f7f7 whitesmoke;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
 
}
