/* Landing Page */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("../img/landing.jpg") no-repeat;
  background-size: cover;
}
.login-box {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
}
.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 2px solid #4caf50;
}
.textbox input {
  border: none;
  outline: none;
  background: none;
  color: #000000;
  font-size: 18px;
  width: 80%;
  margin: 10px;
}
.textbox ::placeholder {
  color: #000000;
}
.textbox i {
  width: 26px;
  text-align: center;
}
.checkbox {
  margin: 15px 0 0 23px;
}
.btn-submit {
  width: 100%;
  background: none;
  border: 2px solid #4caf50;
  color: #000000;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px 0;
}
.newAccount {
  margin: 5px;
  font-size: 0.9rem;
}
.newAccount a {
  color: #4caf50;
}
.newAccount a:hover {
  color: #000000;
}
#title h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  width: 100%;
  overflow: visible;
  font: 400 140px/1.5 "Pacifico", Helvetica, sans-serif;
  color: #ffffff;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.1), 14px 14px 0px rgba(0, 0, 0, 0.05);
  text-align: center;
  margin: 75px 0 50px 0;
}
/* Modal */
.modal {
  text-align: center;
}
.modal-title {
  width: 100%;
  position: relative;
  left: 14px;
}
/* Welcome Back */
#welcome-back-box {
  margin: 75px 0 5px 0;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
}
#welcome-back-box a {
  color: #4caf50;
}
#welcome-back-box a:hover {
  color: #000000;
}
/* Create an Account */
#regForm {
  border: none;
  outline: none;
  background: none;
  margin: 30px auto;
  padding: 40px;
  width: 60%;
  min-width: 300px;
  font-size: 18px;
}
#progress {
  margin-bottom: 40px;
}
.form-info {
  text-align: center;
}
.tab p {
  margin: 30px 0;
  width: 100%;
  outline: none;
}
.tab input {
  border: none;
  outline: none;
  background: none;
  color: #000000;
  font-size: 18px;
  width: 100%;
  padding-left: 12px;
  border-bottom: 2px solid #4caf50;
}
.tab input:focus {
  background: none;
  outline: none;
}
.form-control {
  background-color: transparent;
  border: 2px solid #4caf50;
  color: #000000;
}
.form-control:focus {
  box-shadow: none;
  border-color: #4caf50;
  background-color: transparent;
}
.tab input::placeholder {
  padding-left: 0px;
  color: #000000;
}
input.invalid {
  background-color: #ffdddd;
  border-radius: 25px;
}
.tab {
  display: none;
}
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.8;
}
.step.active {
  opacity: 1;
}
.step.finish {
  background-color: #4caf50;
}
#prevBtn {
  background: none;
  border: 2px solid #4caf50;
  color: #000000;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px 0;
}
#prevBtn:focus {
  outline: none;
}
#nextBtn {
  background: none;
  border: 2px solid #4caf50;
  color: #000000;
  padding: 5px 15px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px 0;
}
#nextBtn:focus {
  outline: none;
}
.login {
  margin: 5px;
  font-size: 0.9rem;
}
.login a {
  color: #4caf50;
}
.login a:hover {
  color: #000000;
}
/* Profile Page */
.display-name h1 {
  color: #000000;
  font-size: 4rem;
  text-shadow: -2px -2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff,
    2px 2px 0 #ffffff;
  margin-top: 1.5rem;
}
#block1 {
  background: none;
  border: none;
}
#picture {
  text-align: center;
  position: relative;
}
#profphoto {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
#picture:hover .image {
  opacity: 0.3;
}
#picture:hover .middle {
  opacity: 1;
}
.text {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
#edit-profile-pic {
  width: 100%;
  position: relative;
  top: 140px;
  background: none;
  border: 2px solid #4caf50;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.2rem;
}
#searchblock {
  background: none;
  border: 2px solid #4caf50;
}
#searchblock h3 {
  color: #000000;
  text-decoration: underline;
  padding-bottom: 0px;
}
#searchblock label {
  margin-bottom: 0px;
}
#searchblock select {
  margin-bottom: 15px;
}
.dropdown {
  overflow: hidden;
  height: 40px;
  width: 100%;
  background: none;
  border: 2px solid #4caf50;
  border-radius: 3px;
}
#searchblock input {
  background: none;
  border: 2px solid #4caf50;
}
#searchblock input:hover {
  border: 2px solid #ffffff;
}
#calories {
  margin-bottom: 15px;
  font-size: 18px;
}
#meals {
  margin-bottom: 15px;
  font-size: 18px;
}
#search-btn {
  width: 100%;
  background: none;
  border: 2px solid #4caf50;
  color: #000000;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 5px 0 5px 0;
}
#nutrition-block {
  background: none;
  border: 2px solid #4caf50;
  margin-top: 0px !important;
}
#nutrition-block h3 {
  text-decoration: underline;
}
#nutrition-block .row {
  margin: 3px;
}
.circle-text {
  text-align: center;
  line-height: 134px;
  font-size: 25px;
}
.yellow_circle {
  border: 4px solid #fdfd2c;
  border-radius: 50%;
  height: 140px;
  width: 140px;
  margin: 10px 15px;
  position: relative;
  text-align: center;
}
.green_circle {
  border: 4px solid #97cb04;
  border-radius: 50%;
  height: 140px;
  width: 140px;
  margin: 10px 15px;
  position: relative;
  text-align: center;
}
.blue_circle {
  border: 4px solid #297ba2;
  border-radius: 50%;
  height: 140px;
  width: 140px;
  margin: 10px 15px;
  position: relative;
  text-align: center;
}
.red_circle {
  border: 4px solid #f74847;
  border-radius: 50%;
  height: 140px;
  width: 140px;
  margin: 10px 15px;
  position: relative;
  text-align: center;
}
.card.summary {
  border: none;
  background: none;
  margin: 0px;
}
#nutrition-block button {
  background: none;
  border: 2px solid #4caf50;
  color: #000000;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 15px 0 0 0;
}
#favorites-block {
  background: none;
  border: 2px solid #4caf50;
}
#favorites-block h3 {
  text-decoration: underline;
}
#favorites-block li {
  margin: 15px;
  border: 2px solid #4caf50;
  background: rgba(255, 255, 255, 0.8);
}
#insert-favs-here {
  overflow-x: hidden;
}
#insert-favs-here a {
  font-size: 1.3rem;
  position: relative;
  top: 40%;
}
#insert-favs-here i {
  font-size: 2rem;
  color: #f74847;
  margin: 10px 15px;
}
#insert-favs-here i:hover {
  color: black;
}
.fav-scroll {
  width: auto;
  height: 330px;
  overflow: scroll;
}
/* update macros */
#update-form {
  border: 2px solid #4caf50;
  outline: none;
  background: transparent;
  margin: 30px auto;
  padding: 40px;
  width: 60%;
  min-width: 300px;
  font-size: 18px;
}
/* Recipe results */
.recipe-nutrition {
  font-size: 20px;
  line-height: 1.9em;
}
#recipe-servings,
#recipe-link {
  font-size: 20px;
  line-height: 1em;
}
.addToFavsBtn {
  border-radius: 8px;
}
