/* .list-group-item {
  line-height: 2.5;
} */

#title h1 {
  font: 400 120px/1.5 'Pacifico', Helvetica, sans-serif;
  color: #ffffff;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.1), 14px 14px 0px rgba(0,0,0,0.05);
}
#projectName {
  text-align: center;
  margin: 75px 0 50px 0;
}

