/* Landing Page */
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  background: url("../img/landing.jpg") no-repeat;
  background-size: cover;
}
.btn-submit {
  /* width: 100%; */
  background: none;
  border: 2px solid #4caf50;
  color: #000000;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px 0;
}
.btn-submit:hover {
  background-color: #4caf50;
  color: #ffffff;
  border: 2px solid #ffffff;
}
.btn-submit:focus {
  outline: none;
}
.newAccount {
  margin: 5px;
  font-size: 0.9rem;
  position: absolute;
  bottom: 12px;
}
.newAccount a {
  color: #4caf50;
}
.newAccount a:hover {
  color: #000000;
}
/* Modal */
.modal {
  text-align: center;
}
.modal-title {
  width: 100%;
  position: relative;
  left: 14px;
}
/* Welcome Back */
#welcome-back-box {
  margin: 20%;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
}
#welcome-back-box a {
  color: #4caf50;
}
#welcome-back-box a:hover {
  color: #000000;
}
/* login block */
.login-block {
  float: left;
  width: 100%;
  padding: 50px 0;
}
.banner-sec {
  background: url("/img/cooking.jpg") no-repeat left bottom;
  background-size: cover;
  border-radius: 0 10px 10px 0;
  padding: 0;
}
.wrapper {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
  margin: 50px 90px 0px 70px;
}
.carousel-inner {
  border-radius: 0 10px 10px 0;
}
.carousel-caption {
  text-align: left;
  left: 5%;
}
.login-sec {
  padding: 50px 30px;
  position: relative;
}
.login-sec label {
  font-size: 1.2rem;
}
.login-sec input {
  font-size: 1.2rem;
}
.login-sec .copy-text {
  position: absolute;
  width: 80%;
  bottom: 20px;
  font-size: 13px;
  text-align: center;
}
.login-sec h2 {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 25px;
  color: #4caf50;
  text-shadow: -0.5px -0.5px 0 #ffffff, 0.5px -0.5px 0 #ffffff,
    -0.5px 0.5px 0 #ffffff, 0.5px 0.5px 0 #ffffff;
}
.login-sec h2:after {
  content: " ";
  width: 100px;
  height: 2px;
  background: #000000;
  display: block;
  margin-top: 10px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
}
.banner-text {
  position: absolute;
  bottom: 40px;
  padding-left: 10px;
}
.banner-text h1 {
  font-size: 5.5rem;
  text-shadow: -0.5px -0.5px 0 #000000, 0.5px -0.5px 0 #000000,
    -0.5px 0.5px 0 #000000, 0.5px 0.5px 0 #000000;
}
.banner-text h2 {
  color: #fff;
  font-weight: 600;
}
.banner-text h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #fff;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
}
.banner-text p {
  color: #fff;
  font-size: 1.4rem;
  text-shadow: -0.5px -0.5px 0 #000000, 0.5px -0.5px 0 #000000,
    -0.5px 0.5px 0 #000000, 0.5px 0.5px 0 #000000;
}

/* Create an Account */
#regForm {
  outline: none;
  border: 2px solid #4caf50;
  background: rgba(255, 255, 255, 0.7);
  margin: 76px auto;
  padding: 40px;
  width: 60%;
  min-width: 300px;
  font-size: 18px;
}
#progress {
  margin-bottom: 40px;
}
.form-info {
  text-align: center;
}
.tab p {
  margin: 30px 0;
  width: 100%;
  outline: none;
}
.tab input {
  border: none;
  outline: none;
  background: none;
  color: #000000;
  font-size: 18px;
  width: 100%;
  padding-left: 12px;
  border-bottom: 2px solid #4caf50;
}
.tab input:focus {
  background: none;
  outline: none;
}
.form-control {
  background-color: transparent;
  border: 2px solid #4caf50;
  color: #000000;
}
.form-control:focus {
  box-shadow: none;
  border-color: #4caf50;
  background-color: transparent;
}
.tab input::placeholder {
  padding-left: 0px;
  color: #000000;
}
input.invalid {
  background-color: #ffdddd;
  border-radius: 25px;
}
.tab {
  display: none;
}
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.8;
}
.step.active {
  opacity: 1;
}
.step.finish {
  background-color: #4caf50;
}
#prevBtn {
  background: none;
  border: 2px solid #4caf50;
  color: #000000;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px 0;
}
#prevBtn:hover {
  background-color: #4caf50;
  color: #ffffff;
  border: 2px solid #ffffff;
}
#prevBtn:focus {
  outline: none;
}
#nextBtn {
  background: none;
  border: 2px solid #4caf50;
  color: #000000;
  padding: 5px 15px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px 0;
}
#nextBtn:hover {
  background-color: #4caf50;
  color: #ffffff;
  border: 2px solid #ffffff;
}
#nextBtn:focus {
  outline: none;
}
#submitBtn {
  background: none;
  border: 2px solid #4caf50;
  color: #000000;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px 0;
}
#submitBtn:hover {
  background-color: #4caf50;
  color: #ffffff;
  border: 2px solid #ffffff;
}
#submitBtn:focus {
  outline: none;
}
#passwordHint {
  font-size: 60%;
}
.login {
  margin: 5px;
  font-size: 0.9rem;
}
.login a {
  color: #4caf50;
}
.login a:hover {
  color: #000000;
}
#personal-info-tab {
  margin-bottom: 12px;
}
#personal-info-tab #feet {
  width: 48.99%;
  margin-right: 6px;
}
#personal-info-tab #inches {
  width: 48.99%;
}

/* Profile Page */
.display-name h1 {
  color: #000000;
  font-size: 3.5rem;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
  margin-top: 1rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  float: right;
  font-weight: 900;
  text-align: right;
}
#block1 {
  background: none;
  border: none;
}
#picture {
  text-align: center;
  position: relative;
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid #4caf50;
}
#profphoto {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
#picture:hover .image {
  opacity: 0.3;
}
#picture:hover .middle {
  opacity: 1;
}
.text {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
#edit-profile-pic {
  width: 100%;
  position: relative;
  top: 170px;
  background: none;
  border: 2px solid #4caf50;
  color: #000000;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
  cursor: pointer;
  font-size: 1.2rem;
}
#searchblock {
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid #4caf50;
}
#searchblock h3 {
  color: #000000;
  letter-spacing: 2px;
}
#searchblock label {
  margin-bottom: 0px;
}
#searchblock select {
  margin-bottom: 15px;
}
.dropdown {
  overflow: hidden;
  height: 40px;
  width: 100%;
  background: none;
  border: 2px solid #4caf50;
  border-radius: 3px;
}
#searchblock input {
  background: none;
  border: 2px solid #4caf50;
}
#searchblock input:hover {
  border: 2px solid #ffffff;
}
#searchblock input:focus {
  outline: none;
}
#calories {
  margin-bottom: 15px;
  font-size: 18px;
}
#meals {
  margin-bottom: 15px;
  font-size: 18px;
}
#search-btn {
  width: 100%;
  background: none;
  border: 2px solid #4caf50;
  color: #000000;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 5px 0 5px 0;
}
#search-btn:hover {
  background-color: #4caf50;
  color: #ffffff;
  border: 2px solid #ffffff;
}
#search-btn:focus {
  outline: none;
}
.mt-4,
.my-4 {
  margin-top: 0 !important;
}
#nutrition-block {
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid #4caf50;
}
#nutrition-block {
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid #4caf50;
}
#nutrition-block h3 {
  letter-spacing: 2px;
}
#nutrition-block .row {
  margin: 3px;
}
.circle-text {
  text-align: center;
  line-height: 134px;
  font-size: 25px;
}
.yellow_circle {
  border: 4px solid #fdfd2c;
  border-radius: 50%;
  height: 140px;
  width: 140px;
  margin: 10px 15px;
  position: relative;
  text-align: center;
}
.green_circle {
  border: 4px solid #97cb04;
  border-radius: 50%;
  height: 140px;
  width: 140px;
  margin: 10px 15px;
  position: relative;
  text-align: center;
}
.blue_circle {
  border: 4px solid #297ba2;
  border-radius: 50%;
  height: 140px;
  width: 140px;
  margin: 10px 15px;
  position: relative;
  text-align: center;
}
.red_circle {
  border: 4px solid #f74847;
  border-radius: 50%;
  height: 140px;
  width: 140px;
  margin: 10px 15px;
  position: relative;
  text-align: center;
}
.card.summary {
  border: none;
  background: none;
  margin: 0px auto;
}
#nutrition-block button {
  background: none;
  border: 2px solid #4caf50;
  color: #000000;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 17px 0 0 0;
}
#nutrition-block button:hover {
  background-color: #4caf50;
  color: #ffffff;
  border: 2px solid #ffffff;
}
#nutrition-block button:focus {
  outline: none;
}
#favorites-block {
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid #4caf50;
}
#favorites-block h3 {
  letter-spacing: 2px;
}
#favorites-block li {
  margin: 15px;
  border: 2px solid #4caf50;
  background: rgba(255, 255, 255, 0.8);
}
#favorites-block .card-header {
  letter-spacing: 2px;
}
#favorites-block .card-title {
  margin-bottom: 0.5rem;
}
#favorites-block .card-body {
  padding-top: 0px;
}
#insert-favs-here {
  overflow-x: hidden;
}
#insert-favs-here a {
  font-size: 1.3rem;
  position: relative;
  top: 40%;
}
#insert-favs-here i {
  font-size: 2rem;
  color: #f74847;
  margin: 10px 15px;
}
#insert-favs-here i:hover {
  color: black;
}
.fav-scroll {
  width: auto;
  height: 346px;
  overflow: scroll;
}
#bottom-row {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.logout a {
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid #4caf50;
  color: #000000;
  padding: 7px 16px;
  font-size: 18px;
  cursor: pointer;
  margin: 5px 0 5px 0;
}
.logout a:hover {
  background-color: #4caf50;
  color: #ffffff;
  border: 2px solid #ffffff;
}

/* update macros */
#update-form {
  border: 2px solid #4caf50;
  background: rgba(255, 255, 255, 0.7);
  outline: none;
  margin: 30px auto;
  padding: 40px;
  width: 60%;
  min-width: 300px;
  font-size: 18px;
}
.personal-info {
  padding-top: 16px;
}
.personal-info #age {
  background: none;
  width: 24.99%;
}
.personal-info #age:focus {
  outline: none;
}
.personal-info #weight {
  background: none;
  width: 24.99%;
}
.personal-info #weight:focus {
  outline: none;
}
.personal-info #feet {
  background: none;
  width: 24.99%;
}
.personal-info #feet:focus {
  outline: none;
}
.personal-info #inches {
  background: none;
  width: 24.99%;
}
.personal-info #inches:focus {
  outline: none;
}
.btn-update {
  width: 100px;
  background: none;
  border: 2px solid #4caf50;
  color: #000000;
  padding: 3px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
}
#update-cancel:hover {
  background-color: #4caf50;
  color: #ffffff;
  border: 2px solid #ffffff;
}
#update-cancel:focus {
  outline: none;
}
#update-submit:hover {
  background-color: #4caf50;
  color: #ffffff;
  border: 2px solid #ffffff;
}
#update-submit:focus {
  outline: none;
}
#age,
#feet,
#inches,
#weight {
  border: 2px solid #4caf50;
}

/* Recipe results */
.addToFavsBtn {
  border-radius: 8px;
}
#results-block {
  background: none;
  border: 2px solid #4caf50;
}
#results-block h2 {
  font-size: 2.8rem;
  color: #000000;
  line-height: 33px;
  margin-top: 9px;
}
#results-block h3 {
  text-decoration: underline;
  color: #000000;
}
#insert-results-here .card-header {
  background: rgba(255, 255, 255, 0.5);
}
#insert-results-here .card-header h3 {
  color: black;
  font-size: 2rem;
  line-height: 12px;
  padding-top: 10px;
}
#results-block li {
  margin: 15px;
  border: 2px solid #4caf50;
  background: rgba(255, 255, 255, 0.8);
}
#insert-results-here h5 {
  text-decoration: underline;
}
#insert-results-here .userinfo {
  padding: 28px 0 0 92px;
}
.recipe-nutrition {
  line-height: 1.2em;
}
#insert-results-here p {
  font-size: 1.2rem;
}
#recipe-link {
  font-size: 1rem;
}
#insert-results-here i {
  font-size: 2rem;
  color: #000000;
  margin: 10px 15px;
}
#insert-results-here i:hover {
  color: #f74847;
}
.isFavorited {
  color: #f74847 !important;
}
#insert-results-here a {
  margin: 12px;
  color: #000000;
}
#insert-results-here a:hover {
  color: #44ccaa;
}
#insert-results-here a:visited {
  color: #44ccaa;
}
#perMealBreakdown {
  margin: 0px 15px 15px 15px;
  background: rgba(255, 255, 255, 0.9);
  border: none;
}
#perMealBreakdown .card-header {
  background: rgba(255, 255, 255, 0.8);
}
#perMealBreakdown .card-body {
  padding: 1.25rem 1.25rem 0.8rem 1.25rem;
  border: 2px solid #4caf50;
}
#perMealBreakdown h3 {
  font-size: 3rem;
  line-height: 12px;
  padding: 12px 0px;
}
.back-to-profile a {
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid #4caf50;
  color: #000000;
  padding: 2px 8px;
  font-size: 18px;
  cursor: pointer;
  margin: 5px 0 5px 0;
}
.back-to-profile a:hover {
  background-color: #4caf50;
  color: #ffffff;
  border: 2px solid #ffffff;
}
.yellow_circle_result {
  border: 4px solid #fdfd2c;
  border-radius: 50%;
  height: 87px;
  width: 95px;
  margin: 10px 15px;
  position: relative;
  text-align: center;
}
.green_circle_result {
  border: 4px solid #97cb04;
  border-radius: 50%;
  height: 87px;
  width: 95px;
  margin: 10px 15px;
  position: relative;
  text-align: center;
}
.blue_circle_result {
  border: 4px solid #297ba2;
  border-radius: 50%;
  height: 87px;
  width: 95px;
  margin: 10px 15px;
  position: relative;
  text-align: center;
}
.red_circle_result {
  border: 4px solid #f74847;
  border-radius: 50%;
  height: 87px;
  width: 95px;
  margin: 10px 15px;
  position: relative;
  text-align: center;
}
.circle-text-result {
  text-align: center;
  line-height: 83px;
  font-size: 24px;
}
